@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (max-width: 304px) {
    #image-buy {
        width: 250px;
    }

    #buy-contrainer{
        max-width: 50%;
    }
}
    
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

li {
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Prompt", sans-serif;
}
.top-head {
    background-color: #bb7eee;
    height: 40px;
    display: flex;
    align-items: center;
}

.top-text {
    align-items: center;
    font-family: "Prompt", sans-serif;
    display: flex;
}

#line-button {
    background-color: #bb7eee;
    border: none;
}

nav {
    position: relative;
    top: 20px;
    font-family: "Prompt", sans-serif;
    margin: 0 auto;
    text-align: center;

    
}

/* ตัวอย่างร้านค้า */
#content-tutorial {
    display: flex;
    text-align: center;
   
    
}
#shop { 
    position: relative;
    margin-top: 20px;
    margin-left: 1px;
    width: 170px;
    height: 210px;
    border: solid;
    border-radius: 10px;
    display: grid; 
    grid-template-columns: 1fr  ;
    display: inline-block;
      font-family: "Prompt", sans-serif;
      
   
}

/* เพิ่มเติม */
#more {
    position: absolute;
    right: 10px;
     height: 14px;
     border-radius: 10px;
     padding: 10px;
     background-color: #8a2be2;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     overflow: hidden;
}

#more:hover {
    height: 100vh;
}

/* หมวดหมู่ */
.top-menu {
    border: solid;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border-color:  #bb7eee;
    color:  #bb7eee;
}

/* ปุ่มซื้อ */
#buy-btn {
    position: relative;
    top: 30px;
    background-color: rgb(65, 173, 250);
    border-radius: 10px;
    color: azure;
    border: none;
    margin: 0 auto; 
   right: 22px;
}
#buy-btn:hover {
    transform: scale(1.1);
    background-color: blue;
    transition: .3s;
}

/* เพิ่มเข้าตะกร้า */
#basket-btn {
   position: relative;
    top: 30px;
    background-color: #41adfa;
    border-radius: 10px;
    color: azure;
    border: none;
    margin: 0 auto; 
    left: 60px;
   
}

#basket-btn:hover {
     transform: scale(1.1);
    background-color: blue;
    transition: .3s;
}

/* ข้อความ */
.text {
    position: relative;
    left: 47px;
}



 .img {
    border-radius: 10px;
 }
    /* ราคา */
 .price {
    text-align: center;
    font-weight: bold;
    font-size: large;
     font-family: "Prompt", sans-serif;
     color: red;
     margin-left: 25%;
     margin-top: 10px;
 }

 #about {
    display: inline-block;
 background-color: #8a2be2;
 min-height: 100vh;
 }

 /* สินค้า contrainer   */
 #buy-contrainer {
    position: relative;
    top: 20px;
    border: solid;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    height: 500px;
 }

 /* รูปสินค้าที่สั่ง */
 #image-buy {
border-radius: 10px;
 }

  /* ปุ่มยืนยันการสั่งซื้อ */
 #buy-confirm {
    border-radius: 10px;
    border: none;
    background-color: #2fff47;
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }
   
  #buy-confirm:hover {
    transform: scale(1.1);
    background-color:  #1dc130;
    transition: .3s;
  }
  /* ปุ่มสีแดง */
  #button-red {
     border-radius: 10px;
    border: none;
    background-color: #ff3434;
    padding: 10px;
    margin-top: 10px;
    color:  #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  #button-red:hover {
     transform: scale(1.1);
    background-color:   #da2828;
    transition: .3s;
  }


/* git init
git add .
git commit -m "confirm button"
git branch -M main
git remote add origin https://github.com/Camille061/shopp.git
git push -u origin main */